<div class="container">
  <div class="h1">Book Name: <%= @book.name %></div>
  <br/>
  <ul class="list-inline">
    <div class="list-inline-item">Book Author: <%= @book.author %> -</div>
    <div class="list-inline-item">Publish Year: <%= @book.publish_year %></div>
    <div class="list-inline-item">Rating: <%= @book.rating %></div>
  </ul>
  <br/>
  <br/>
  <div>Description: <%= @book.description %></div>
  <br/>

</div>
